body{
    margin:0;
    padding: 0px;
    background-color: #111;
    width: 100%;
    height: 200vh;
}

*{
    box-sizing: border-box;
}

#contain{
    width: 100%;
    height: fit-content;
    font-family: candara;
}

.left{
    width: 20%;
    height: 98vh;
    position: fixed;
    background-color:#111;
    position: fixed;
    left: 5px;
    top:5px;
}

.right{
    margin-left: 20%;
    width: 80%;
    height: fit-content;
    padding: 10px;
    /* background-color: #222; */
    height: 100vh;
}

.profile{
    width: 120px;
    border-radius: 100%;
    position: relative;
    top:20px;
    margin: auto;
}

.pro-box{
    width: 95%;
    height: fit-content;
    position: relative;
    top:16px;
    margin: auto;
}

.logo{
    width: fit-content;
    margin: auto;
}

.text{
    padding: 25px;
    width: 100%;
    text-align: center;
    color:#999;
}

.text::first-line{
    font-size: 14pt;
    color: whitesmoke;
}

.link ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 20px;
}

.icon{
    width: 50px;
    height: 100%;
    font-size: 14pt;
    position: relative;
    background-color: orangered;
    margin-right: 10px;
    left: 30px;
    top:0px;
    align-items: center;
    display: flex;
    justify-content: space-around;
    color:#111;
    position: absolute;
} 

.link a{
    color:white;
    text-decoration: none;
    display: block;
    padding: 13px;
    background-color: #222;
    width: 90%;
    margin: auto;
    border-radius: 10px;
    text-align: center;
    font-size: 12pt;
    margin-top: 10px;
    position: relative;
}

.link a:hover{
    background-color: #444;
    transition: 0.1s;
}

.top-nav{
    width: 100%;
    background-color: #222;
    height: 100px;
    text-align: left;
    border-bottom: 5px solid orangered;
    padding: 30px;
    /* position: fixed; */
    /* transition: 1s; */
    display:flex;
    justify-content: space-between;
}

.top-logo{
    font-size: 20pt;
    color: white;
    transition-duration:  1s;
}

#slide{
    transition: 1s;
}

.l-box{
    padding: 10px;
    background-color: orangered;
    margin-right: 10px;
    border-radius: 10px;
}

.split{
    width: 100%;
    height: 50vh;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    position: relative;
    overflow: hidden;
}

.loader{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 5px solid #444;
    animation: spin 1s linear infinite;
    position: relative;
}

@keyframes spin{
    from{
        transform: rotate(0deg);
        /* background-color: peru; */
        border-bottom: 5px solid orangered;
    }

    to{
        transform: rotate(360deg);
        /* background-color: green; */
        border-bottom:5px solid orangered;
    }
    /* 0%{
        transform: rotate(0deg);
        border-bottom-right-radius: 5px solid orangered;
    }

    100%{
        transform: rotate(360deg);
    } */
}

.line{
    background-color: orangered;
    top: -40px;
    height: 65vh;
    width: 5px;
    position: absolute;
    left: 400px;
    transform: rotate(35deg);
}

.l{
    position: absolute;
    color:white;
    left: 100px;
    top:70px;
    font-size: 25pt;
    font-weight: 700;
}

.highlight{
    color: orangered;
}

.r{
    position: absolute;
    color: white;
    left: 60%;
    top:30%;
    line-height: 1.5;
    text-transform: capitalize;
}

.back{
    width: 100%;
    height: 50vh;
    position: relative;
}

.full{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.train{
    height: fit-content;
    width:fit-content;
    display: flex;
    gap:50px;
    margin: auto;
    margin-top: 50px;
}

.tr-1,.tr-2,.tr-3{
    width: 130px;
    height: 130px;
    background-color: orangered;
    border-radius: 100%;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.tr-icon{
    font-size: 40pt;
}
.about{
    background-color: #222;
    width: 60%;
    margin: auto;
    margin-top: 40px;
    height: fit-content;
    text-align: left;
    color: whitesmoke;
    padding: 20px;
    line-height: 1.4;
}

.about::first-line{
    color: orangered;
}

.about::first-line{
    font-size: 17pt;
    font-family:arial;
    font-weight: 700;
}

.about::first-letter{
    font-size: 24pt;
}

.nav-hamb{
    display: none;
}

.nav-profile{
    display: none;
}

.nav-link{
    display: none;
}


































@media (max-width:900px){
    body{
        margin:0;
        padding: 0px;
        background-color: whitesmoke;
        width: 100%;
        height: 200vh;
    }
    
    *{
        box-sizing: border-box;
    }
    
    #contain{
        width: 100%;
        height: fit-content;
        font-family: candara;
    }
    
    .left{
        display: none;
    }
    
    .right{
        margin-left: 0%;
        width: 100%;
        height: fit-content;
        padding: 0px;
        /* background-color: #222; */
        height: fit-content;
        background-color: whitesmoke;
    }
    
    .logo{
        width: fit-content;
        margin: auto;
    }

    .nav-hamb{
        display: block;
    }

    .nav-hamb a{
        color: white;
        font-size: 20pt;
        text-decoration: none;
    }

    .text{
        padding: 25px;
        width: 100%;
        text-align: center;
        color:#999;
    }
    
    .text::first-line{
        font-size: 14pt;
        color: whitesmoke;
    }
    
    
    .top-nav{
        width: 100%;
        background-color: #111;
        height: 100px;
        text-align: left;
        border-bottom: none;
        padding: 30px;
        /* position: fixed; */
        /* transition: 1s; */
        display:flex;
        justify-content: space-around;
        align-items:center ;
    }
    
    .top-logo{
        font-size: 20pt;
        color: white;
        transition-duration:  1s;
    }
    
    #slide{
        transition: 1s;
    }
    
    .l-box{
        padding: 10px;
        background-color: orangered;
        margin-right: 10px;
        border-radius: 10px;
    }
    
    .loader{
        display: none;
    }
    
   
    
    .line{
        background-color: orangered;
        top: -40px;
        height: 65vh;
        width: 5px;
        position: absolute;
        left: 400px;
        transform: rotate(35deg);
    }
    
    .l{
        position: absolute;
        color:white;
        left: 100px;
        top:70px;
        font-size: 25pt;
        font-weight: 700;
    }
    
    .highlight{
        color: orangered;
    }
    
    .r{
        position: absolute;
        color: white;
        left: 60%;
        top:30%;
        line-height: 1.5;
        text-transform: capitalize;
    }
    
    .back{
        display: none;
    }
    
    .full{
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .train{
        height: fit-content;
        width:90%;
        display: flex;
        gap:0px;
        justify-content: space-evenly;
        margin: auto;
        margin-top: 50px;
    }
    
    .tr-1,.tr-2,.tr-3{
        width:75px;
        height: 100%;
        background-color: orangered;
        border-radius: 100%;
        text-align: center;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding:10px;
    }
    
    .tr-icon{
        font-size: 30pt;
    }
    .about{
        background-color: transparent;
        width: 90%;
        margin: auto;
        margin-top: 40px;
        height: fit-content;
        text-align: left;
        color:black;
        padding: 20px;
        font-weight: 600;
        line-height: 1.4;
    }
    
    .about::first-line{
        color: orangered;
    }
    
    .about::first-line{
        font-size: 17pt;
        font-family:arial;
        font-weight: 700;
    }
    
    .about::first-letter{
        font-size: 24pt;
    }
    
    .nav-profile{
        display: block;
        width: 100%;
        height: fit-content;
        margin: auto;
        margin-top: 20px;
        text-align: center;
    }

    .nav-p{
        width: 130px;
        margin: auto;
        height: 130px;
        border-radius: 100%;
        border: 2px solid orangered;
    }
    
    .nav-link{
        width: 100%;
        height:100%;
        background:rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1;
        display: block;
        position: absolute;
        width: 100%;
    }

    #nav-link{
        left:-100%;
    }

    #nav-link:target{
        left:0%;
        transition-duration: 0.6s;
    }
    
    .nav-ul{
        width: 70%;
        background-color: #111;
        height: 100%;
    }

    .nav-tech{
        color: white;
        padding: 10px;
        font-size: 20pt;
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        height: 20vh;
        color: orangered;
    }

    .nav-ul ul{
        padding: 0;
        margin: 0;
        list-style: none;
    }

    .nav-ul a{
        color: white;
        padding: 15px;
        display: block;
        font-size: 14pt;
        text-decoration: none;
    }

    .nav-ul a:hover{
        color: orangered;
        background-color: #222;
    }


}